*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
header{
  background-color: #c1392b;
}

body{
  font-family: font-family: 'Roboto Condensed', sans-serif;
}
.reussir{
  color: white;
  text-align: center;
  padding-top: 10%;
  font-size: 130%
}
.methodes{
  background-color: #922b22;
  width: 250px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  padding: 6px;
  margin-top: 10%;
  margin-bottom: -20px;
  position: relative;
  z-index: 9999;
}
.detente{
  text-align: center;
  background-color: white;
  width: 800px;
  font-size: 200%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 14%;
  position: relative;
  z-index: 2;
}

.corps{
  background-color: #c1392c;
  height: 10%;

}

.page{
  background-color: white;
  margin-left: 12.15%;
  margin-right: 12.15%;
  margin-top: -2.5%;
}

.texte{
  margin-top: 3%;
  font-size: 160%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: ;
  width: 979px;
}
.watch{
 display: flex;
 margin-top: 10%;
 justify-content: space-around;
 margin-left: 17%;
 margin-right: 20%;
}

.paragraphe1{
 width: 900px;
 font-size: 160%;
 margin-right: 20%;
 margin-bottom: 18%;
 text-align: justify;
}
.imageone img{
  width: 370px;
  margin-top:
}
.paragraphe2{
 width: 900px;
 font-size: 160%;
 margin-right: %;
 margin-left: 18%;
 text-align: justify;
}
.imagetwo img{
  width: 370px;
}
.fond-simplon img{
  position: absolute;
  width: 1200px;
  right: 1050px;
  top: 840px;
}

/* FOOTER */
footer{
  background-color: #c1392c;
  margin-top: 0%;
}

.foot{
  border-top: 2px solid #c1392c;
  margin-left: 12.3%;
  margin-right: 12.3%;
}

.foot img{
  width: 20%;
  margin-top: 4%;
  margin-left: 40%;
  margin-right: 40%;
  position: relative;
}

.contact{
  font-size: 140%;
  font-weight: bold;
  margin-left: 40.8%;
  margin-top: 1%;
}

.contact p{
  font-size: 24px;
  color: white;
  margin-left: 7%;
}

.contact img{
  width: 5.5%;
  text-align: center;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 4%;
  position: relative;
}
.bande{
  border: 10px solid white;
}

.copy{
  color: white;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}














/*  */
